<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title>Registration</title>
</head>

<body>
<div layout:fragment="content">

        <fieldset sec:authorize="isAnonymous()">
            <legend th:text="#{title.registrationForm}">User Registration Form</legend>

            <form class="form-horizontal" role="form" th:action="@{/user/register}"
                  th:object="${registrationForm}" method="post">

                <input type="hidden" th:field="*{socialSignInProvider}"/>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label"
                           th:text="#{label.registrationForm.email}">Email</label>

                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}"/>
                    </div>
                    <p class="text-danger"
                       th:if="${#fields.hasErrors('email')}">
                        <span th:errors="*{email}">Required</span>
                    </p>
                </div>

                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label"
                           th:text="#{label.registrationForm.firstName}">First Name</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name"
                               th:field="*{firstName}"/>
                    </div>
                    <p class="text-danger"
                       th:if="${#fields.hasErrors('firstName')}">
                        <span th:errors="*{firstName}">Required</span>
                    </p>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label"
                           th:text="#{label.registrationForm.lastName}">Last Name</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                               th:field="*{lastName}"/>
                    </div>
                    <p class="text-danger"
                       th:if="${#fields.hasErrors('lastName')}">
                        <span th:errors="*{lastName}">Required</span>
                    </p>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label"
                           th:text="#{label.registrationForm.password}">Password </label>

                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                               th:field="*{password}"/>
                    </div>
                    <p class="text-danger"
                       th:if="${#fields.hasErrors('password')}">
                        <span th:errors="*{password}">Required</span>
                    </p>
                </div>

                <div class="form-group">
                    <label for="passwordConfirmed" class="col-sm-2 control-label"
                           th:text="#{label.registrationForm.passwordConfirmed}">Password Confirmed </label>

                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="passwordConfirmed" placeholder="Password Confirmed"
                               th:field="*{passwordConfirmed}"/>
                    </div>
                    <p class="text-danger"
                       th:if="${#fields.hasErrors('passwordConfirmed')}">
                        <span th:errors="*{passwordConfirmed}">Required</span>
                    </p>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" th:text="#{button.register}">Register</button>
                    </div>
                </div>
            </form>
        </fieldset>

        <div sec:authorize="isAuthenticated()">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>You cannot create an user account because you are already logged in.</p>
        </div>
    </div>
</body>
</html>
