<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title>Forget Password</title>
</head>

<body>

<div layout:fragment="content">

    <fieldset>
        <legend>Reset Password</legend>

        <form id="change-password" class="form-horizontal" th:action="@{/change-password}"
              th:object="${changePasswordForm}"
              autocomplete="off" method="post" role="form" data-toggle="validator">

            <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
                <label class="col-sm-2 control-label">New Password</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" th:field="*{newPassword}"
                           required="required" maxlength="20" size="20"
                           data-minlength="8" data-minlength-error="Password must be between 8 and 20 characters"
                           data-toggle="popover" data-trigger="focus" data-placement="right" data-html="true"
                           data-content="&lt;ul style='margin-bottom: -1px'&gt;&lt;li&gt;Minimum &lt;b&gt;4&lt;/b&gt; characters&lt;/li&gt;&lt;li&gt;Maximum &lt;b&gt;20&lt;/b&gt; characters&lt;/li&gt;"/>

                    <div class="help-block with-errors"><span th:errors="*{newPassword}"></span></div>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('newPasswordAgain')}? 'has-error'">
                <label class="col-sm-2 control-label">Confirmed Password</label>

                <div class="col-sm-4">
                    <input type="password" class="form-control" th:field="*{newPasswordAgain}"
                           required="required" maxlength="20" size="20"
                           data-match="#newPassword" data-match-error="Passwords don't match"/>

                    <div class="help-block with-errors"><span th:errors="*{newPasswordAgain}"></span></div>
                </div>
            </div>

            <input type="hidden" th:field="*{emailAddress}"/>
            <input type="hidden" th:field="*{resetHashKey}"/>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.send.reset}">Reset</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

</body>
</html>
