<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title th:text="${defaultMessage.title}"></title>
</head>
<body>


<div layout:fragment="content">

    <div class="page-header">
        <h3 th:text="${defaultMessage.title}">Message Title!</h3>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="ata-text-success" th:text="${defaultMessage.message}">Message Body!</p>
    </div>
</div>

</body>
</html>
