<html>
<head>
    <title>BDCyclists Password Recovery</title>
</head>
<body>
<h3>BDCyclists Password Recovery</h3>

<p> Hello Bazlur Rahman, </p>

<p>You recently notified us that you forgot your BDCylist account's Password. Your email Address:<br/>
    anmbrr.bit0112@gmail.com <br/><br/>
    Please click below to reset your password:<br/>

    <a href="http://localhost:8080/change-password?email=anmbrr.bit0112@gmail.com&key=d1763319-2d1d-44b5-8cfd-d603ea2bdc2b">Reset
        my password</a>
    <br/><br/>
    Cheers,<br/>

    BDCyclists Team
</p>

<p>
    P.S. If you didn't request, it's likely that someone accidentally entered your email address, you can just ignore
    this email. As long as you don't click the link contained in the email, no action will be taken and your account
    will remain secure and password will not be changed.

</p>
</body>

</html>