<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title>Forget Password</title>
</head>

<body>

<div layout:fragment="content">

    <fieldset>
        <legend>Reset Password</legend>

        <form action="#" th:action="@{/forgot-password}" class="form-horizontal"
              th:object="${forgotPasswordForm}" autocomplete="off" method="post"
              role="form" data-toggle="validator">

            <div class="form-group" th:classappend="${#fields.hasErrors('emailAddress')}? 'has-error'">
                <label class="col-sm-2 control-label"> Email </label>

                <div class="col-sm-4">
                    <input type="email" class="form-control" th:field="*{emailAddress}" required="required"/>
                    <div class="help-block with-errors"><span th:errors="*{emailAddress}"></span></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{button.send.email}">Send Email</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>
</body>
</html>